* {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: "JetBrains Mono", serif;
}
a {
    text-decoration: none;
    color: black;
}

#date-block {
    display: flex;
    flex-direction: row;
}

.date {
    font-family: "JetBrains Mono", serif;
    font-size: 10px;
    padding: 10px;
    white-space: nowrap;
}
.time {
    font-family: "JetBrains Mono", serif;
    font-size: 20px;
    margin-left:10px;
}
.header_glob {
    border: 1px solid gray;
    border-radius: 2px 2px 2px 2px;
    text-align: center;
    font-size:9px;
    padding:4px;
    background: url(img/find.png) no-repeat 130px 0;
    background-size: 19px 19px;
    margin-left:600px;
    width: 150px;
}

.header_glob_find {
    display: flex;
    align-items: center;
}

.header_block1 {
    display:flex;
    justify-content: space-between;
    margin: 0 50px;
    padding: 5px;
    background-color: rgb(244, 245,247);
}
.header_startpage {
    font-size: 30px;
}
.header {
    display:flex;
    align-items: center;
    padding: 0 50px;
    border-bottom: #ab47bc solid 15px;
}
.header_list {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
    font-size: 25px;
}
div > a {
    margin-left: 15px;
    padding: 5px;
}

.header_a {
    font-size: 20px;
    white-space: nowrap;
}

.header_a a:hover {
    background-color: #ab47bc;
    color: white;
}

.header_startpage a {
    display: flex;
    margin-left: 0;
    padding: 5px;
    flex-wrap: nowrap;
    align-items: center;
}

.header_icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    min-height: calc( 100% - 148px);
}

/*CSS left column*/

.main_column_left {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:auto;
    min-width: 180px;
    width: 10%;
    font-family: "JetBrains Mono", serif;
    text-align: left;
    font-size:10px;
    background-color: rgb(245,245,247);
}
.hidden {
    display:none;
}
.column_h {
    margin-top:20px;
    font-size: 15px;
    color:rgb(43, 45,66);
}
.column_left_tele {
    background: url("img/tele_logo.png") no-repeat 0 5px ;
    background-size: 25px 25px;
    padding: 10px 10px 10px 40px;
}
.column_left_social {
     background: url("img/social_logo.png") no-repeat 0 5px ;
     background-size: 25px 25px;
     padding: 10px 10px 10px 40px;
 }
.column_left_inet {
    background: url("img/inet_logo.png") no-repeat 0 5px ;
    background-size: 30px 25px;
    padding: 10px 10px 10px 40px;
}
.column_left_smi {
     background: url("img/smi_logo.png") no-repeat 0 5px ;
     background-size: 30px 20px;
     padding: 10px 10px 10px 40px;
 }
.column_left_radio {
    background: url("img/radio_logo.png") no-repeat 0 5px ;
    background-size: 30px 20px;
    padding: 10px 10px 10px 40px;
}
.column_left_block1 a{
    display:block;
    padding: 10px 40px;
    }
.column_left_block1 a:hover {

    background-color:#ab47bc;
    color:white;
}
.column_left_block2 a{
    display:block;
    padding: 10px 40px;
}
.column_left_block2 a:hover {
    color: white;
    background-color:#ab47bc;
}
.column_left_block3 a{
    display:block;
    padding: 10px 40px;
}
.column_left_block3 a:hover {
    background-color:#ab47bc;
    color:white;
}
.column_left_block4 a{
    display:block;
    padding: 10px 40px;
}
.column_left_block4 a:hover {
    background-color:#ab47bc;
    color:white;
}
.column_left_block5 a{
    padding: 10px 40px;
    display:block;
}
.column_left_block5 a:hover {
    background-color:#ab47bc;
    color:white;
}

/*CSS main newslist*/

.main_center_newslist {
    display:flex;
    width: 80%;
}
.main_back{
    display:flex;
    justify-content: flex-start;
}
.main_back a{
    font-family: "JetBrains Mono", serif;
    font-size: 20px;
    color:rgb(116, 126, 143);
    margin-top:10%;
    }
.main_back img {
    width: 25px;
    margin-right: 10px;
}
.main_channel_info_text {
    display:table;
    font-family: "JetBrains Mono", serif ;
    font-size: 20px;
}
.row {
    display: table-row;
}
.c1 {
    display: table-cell;
    font-weight: bold;
}
.c2 {
    display: table-cell;
}
.text {
    margin-top: 15px;
}
.main_channel_info_text_color {
    background-color: rgb(244,245,247);
    padding:20px;
}
.main_block_stat {
    background-color: rgb(171,71,178);
    font-family: "JetBrains Mono", serif;
    font-size: 10px;
    white-space: nowrap;
}
.main_channel_info {

}
/*CSS right column*/
.main_column_right {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height:auto;
    min-width: 180px;
    width: 10%;
    font-family: "JetBrains Mono", serif;
    text-align: left;
    font-size:10px;
    background-color: rgb(245,245,247);
}

/*CSS footer*/

footer {
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}
